# RabbitMQ Deployment
# Management plugin engedélyezve (webes felület)
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: poc-app-webui-and-tcp
  namespace: poc-app-webui-and-tcp
  labels:
    app: poc-app-webui-and-tcp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: poc-app-webui-and-tcp
  template:
    metadata:
      labels:
        app: poc-app-webui-and-tcp
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3.13-management
          ports:
            - name: amqp
              containerPort: 5672
              protocol: TCP
            - name: management
              containerPort: 15672
              protocol: TCP
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: "admin"
            - name: RABBITMQ_DEFAULT_PASS
              value: "admin123"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /api/health/checks/alarms
              port: 15672
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/health/checks/alarms
              port: 15672
            initialDelaySeconds: 30
            periodSeconds: 20
