# RabbitMQ Service
# AMQP (5672) + Management UI (15672)
---
apiVersion: v1
kind: Service
metadata:
  name: poc-app-webui-and-tcp
  namespace: poc-app-webui-and-tcp
  labels:
    app: poc-app-webui-and-tcp
spec:
  selector:
    app: poc-app-webui-and-tcp
  ports:
    - name: amqp
      port: 5672
      targetPort: 5672
      protocol: TCP
    - name: management
      port: 15672
      targetPort: 15672
      protocol: TCP
