# RabbitMQ Service - Management UI (ClusterIP)
# A webes felületet a Gateway API HTTPRoute-tal érjük el
---
apiVersion: v1
kind: Service
metadata:
  name: poc-app-webui-and-tcp
  namespace: poc-app-webui-and-tcp
  labels:
    app: poc-app-webui-and-tcp
spec:
  type: ClusterIP
  selector:
    app: poc-app-webui-and-tcp
  ports:
    - name: management
      port: 15672
      targetPort: 15672
      protocol: TCP
---
# RabbitMQ Service - AMQP (LoadBalancer)
# Külön LoadBalancer Service, mert az NGINX Gateway Fabric 2.3.0
# még NEM támogatja a TCPRoute-ot (csak HTTP, HTTPS, TLS)
# A MetalLB ad neki IP-t (megosztva a Gateway-jel)
apiVersion: v1
kind: Service
metadata:
  name: poc-app-webui-and-tcp-amqp
  namespace: poc-app-webui-and-tcp
  labels:
    app: poc-app-webui-and-tcp
  annotations:
    # MetalLB IP megosztás - ugyanazt az IP-t használja mint a Gateway
    metallb.io/allow-shared-ip: "gwpoc-shared"
spec:
  type: LoadBalancer
  loadBalancerIP: 10.0.0.108
  selector:
    app: poc-app-webui-and-tcp
  ports:
    - name: amqp
      port: 5672
      targetPort: 5672
      protocol: TCP
